---
layout: base.njk
title: "Furulidens Blogg"
---
<section>
<h3>Välkommen till bloggen</h3>
<ul>
Här är våra blogginlägg.
</section>
<section>
  {% for post in collections.post %}
   <li><a href="/blog{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul></section>
