---
layout: base.njk
title: "Furulidens Blogg"
---

<h1>Välkommen till bloggen</h1>
<ul>
  {% for post in collections.post %}
   <li><a href="/blog{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>
